{
  "className": "org.joget.plugin.enterprise.CalculationField",
  "properties": {
    "id": "{{ id }}",
    "label": "{{ label }}",
    "style": "{{ style }}",
    "numOfDecimal": "{{ numOfDecimal }}",
    "storeNumeric": "{{ storeNumeric }}",
    "readonly": "{{ readonly }}",
    "readonlyLabel": "",
    "variables": {{ variables | tojson_pretty }},
    "equation": "{{ equation }}",
    "value": "",
    "workflowVariable": ""
  }
}
