{
  "className": "org.joget.plugin.enterprise.CalculationField",
  "properties": {
    "id": "{{ id }}",
    "label": "{{ label }}",
    "equation": "{{ equation }}",
    "storeNumeric": "{{ storeNumeric }}",
    "value": "{{ defaultValue }}",
    "required": "{{ required }}",
    "readonly": "{{ readonly }}"
  }
}
