{
  "className": "global.govstack.concatfield.element.ConcatFieldElement",
  "properties": {
    "id": "{{ id }}",
    "label": "{{ label }}",
    "required": "{{ required }}",
    "requiredMessage": "{{ requiredMessage }}",
    "sourceFields": {{ sourceFields | tojson_pretty }},
    "separator": "{{ separator }}",
    "prefix": "{{ prefix }}",
    "suffix": "{{ suffix }}",
    "formatPattern": "{{ formatPattern }}",
    "skipEmpty": "{{ skipEmpty }}",
    "displayType": "{{ displayType }}",
    "updateOn": "{{ updateOn }}"
  }
}
