{
  "className": "org.joget.apps.form.lib.DatePicker",
  "properties": {
    "id": "{{ id }}",
    "label": "{{ label }}",
    "readonly": "{{ readonly }}",
    "allowManual": "",
    "yearRange": "c-10:c+10",
    "dataFormat": "{{ dataFormat }}",
    "datePickerType": "",
    "currentDateAs": "",
    "disableWeekends": "",
    "readonlyLabel": "",
    "iconIncluded": false,
    "value": "{{ value }}",
    {% if validator %}
    "validator": {{ validator | tojson_pretty }},
    {% else %}
    "validator": {
      "className": "",
      "properties": {}
    },
    {% endif %}
    "startDateFieldId": "",
    "endDateFieldId": "",
    "placeholder": "",
    "format": "",
    "workflowVariable": ""
  }
}
