{
  "className": "org.joget.apps.form.lib.FileUpload",
  "properties": {
    "id": "{{ id }}",
    "label": "{{ label }}",
    "required": "{{ required }}",
    "readonly": "{{ readonly }}",
    "maxSize": "{{ maxSize }}",
    "fileType": "{{ fileTypes }}",
    "removeFile": "true"
  }
}
