{
  "className": "org.joget.apps.form.lib.FileUpload",
  "properties": {
    "resizeMethod": "",
    "permissionType": "",
    "maxSizeMsg": "File size limit exceeded",
    "removeFile": "",
    "readonly": "{{ readonly }}",
    "attachment": "true",
    "fileTypeMsg": "Invalid file type",
    "multiple": "",
    "label": "{{ label }}",
    "resizeQuality": "0.8",
    "id": "{{ id }}",
    {% if validator %}
    "validator": {{ validator | tojson_pretty }},
    {% else %}
    "validator": {
      "className": "",
      "properties": {}
    },
    {% endif %}
    "maxSize": "{{ maxSize }}",
    "fileType": "{{ fileType }}",
    "resizeWidth": "",
    "resizeHeight": "",
    "size": "",
    "padding": ""
  }
}
