{
  "className": "org.joget.plugin.enterprise.FormGrid",
  "properties": {
    "showRowNumber": "",
    "disabledDelete": "{{ 'true' if not allowDeleteRow else '' }}",
    "errorMessage": "{{ errorMessage }}",
    "deleteSubformData": "",
    "pageSize": "20",
    "label": "{{ label }}",
    "enableSorting": "",
    "deleteFiles": "",
    "readonly": "{{ readonly }}",
    "deleteGridData": "",
    "disabledAdd": "{{ 'true' if not allowAddRow else '' }}",
    "width": "",
    "abortRelatedRunningProcesses": "",
    "readonlyLabel": "",
    "height": "",
    "id": "{{ id }}",
    "formDefId": "{{ formId }}",
    "options": {{ columns | tojson_pretty }},
    "submit-label-normal": "",
    "submit-label-readonly": "",
    "deleteMessage": "",
    "validator": {
      "className": "",
      "properties": {}
    },
    "uniqueKey": "",
    "validateMinRow": "{{ validateMinRow }}",
    "validateMaxRow": "{{ validateMaxRow }}",
    "loadBinder": {
      "className": "org.joget.plugin.enterprise.MultirowFormBinder",
      "properties": {
        "formDefId": "{{ formId }}",
        "foreignKey": "{{ foreignKey }}"
      }
    },
    "storeBinder": {
      "className": "org.joget.plugin.enterprise.MultirowFormBinder",
      "properties": {
        "formDefId": "{{ formId }}",
        "foreignKey": "{{ foreignKey }}"
      }
    },
    "requestParams": []
  }
}
