{
  "className": "org.joget.plugin.enterprise.FormGrid",
  "properties": {
    "id": "{{ id }}",
    "label": "{{ label }}",
    "formDefId": "{{ formId }}",
    "columns": {{ columns | tojson_pretty }},
    "readonly": "{{ readonly }}",
    "validateMinRow": "{{ validateMinRow }}",
    "validateMaxRow": "{{ validateMaxRow }}",
    "allowAddRow": "{{ allowAddRow }}",
    "allowDeleteRow": "{{ allowDeleteRow }}"
  }
}
