{
  "className": "global.govstack.gisui.element.GisPolygonCaptureElement",
  "properties": {
    "id": "{{ id }}",
    "label": "{{ label }}",
    "required": "{{ required }}",
    "requiredMessage": "{{ requiredMessage }}",
    "defaultLatitude": "{{ defaultLatitude }}",
    "defaultLongitude": "{{ defaultLongitude }}",
    "defaultZoom": "{{ defaultZoom }}",
    "mapHeight": "{{ mapHeight }}",
    "tileProvider": "{{ tileProvider }}",
    "showSatelliteOption": "{{ showSatelliteOption }}",
    "captureMode": "{{ captureMode }}",
    "defaultMode": "{{ defaultMode }}",
    "gpsHighAccuracy": "{{ gpsHighAccuracy }}",
    "gpsMinAccuracy": "{{ gpsMinAccuracy }}",
    "autoCloseDistance": "{{ autoCloseDistance }}",
    "minVertices": "{{ minVertices }}",
    "maxVertices": "{{ maxVertices }}",
    "minAreaHectares": "{{ minAreaHectares }}",
    "maxAreaHectares": "{{ maxAreaHectares }}",
    "allowSelfIntersection": "{{ allowSelfIntersection }}",
    "strokeColor": "{{ strokeColor }}",
    "strokeWidth": "{{ strokeWidth }}",
    "fillColor": "{{ fillColor }}",
    "fillOpacity": "{{ fillOpacity }}",
    "enableOverlapCheck": "{{ enableOverlapCheck }}",
    "overlapFormId": "{{ overlapFormId }}",
    "overlapGeometryField": "{{ overlapGeometryField }}",
    "overlapDisplayFields": "{{ overlapDisplayFields }}",
    "overlapFilterCondition": "{{ overlapFilterCondition }}",
    "areaFieldId": "{{ areaFieldId }}",
    "perimeterFieldId": "{{ perimeterFieldId }}",
    "centroidFieldId": "{{ centroidFieldId }}",
    "vertexCountFieldId": "{{ vertexCountFieldId }}",
    "showNearbyParcels": "{{ showNearbyParcels }}",
    "nearbyParcelsFormId": "{{ nearbyParcelsFormId }}",
    "nearbyParcelsGeometryField": "{{ nearbyParcelsGeometryField }}",
    "nearbyParcelsDisplayFields": "{{ nearbyParcelsDisplayFields }}",
    "nearbyParcelsFilterCondition": "{{ nearbyParcelsFilterCondition }}",
    "nearbyParcelsMaxResults": "{{ nearbyParcelsMaxResults }}",
    "nearbyParcelsStrokeColor": "{{ nearbyParcelsStrokeColor }}",
    "nearbyParcelsFillColor": "{{ nearbyParcelsFillColor }}",
    "nearbyParcelsFillOpacity": "{{ nearbyParcelsFillOpacity }}",
    "apiEndpoint": "{{ apiEndpoint }}",
    "apiId": "{{ apiId }}",
    "apiKey": "{{ apiKey }}"
  }
}
