{
  "className": "org.joget.apps.form.lib.Grid",
  "properties": {
    "id": "{{ id }}",
    "label": "{{ label }}",
    "options": {{ options|tojson }},
    "readonly": "{{ readonly }}",
    "validator": {{ validator|tojson }},
    "validateMinRow": "{{ validateMinRow }}",
    "validateMaxRow": "{{ validateMaxRow }}",
    "errorMessage": "{{ errorMessage }}"
  }
}
