{
  "className": "org.joget.apps.form.lib.HiddenField",
  "properties": {
    "useDefaultWhenEmpty": "",
    "id": "{{ id }}",
    "value": "{{ value }}",
    "validator": {
      "className": "",
      "properties": {}
    },
    "workflowVariable": ""
  }
}
