{
  "className": "org.joget.apps.form.lib.IdGeneratorField",
  "properties": {
    "id": "{{ id }}",
    "label": "{{ label }}",
    "format": "{{ format }}",
    "envVariable": "{{ envVariable }}",
    "isDistributedGeneration": "",
    "hidden": "{{ hidden }}",
    "workflowVariable": ""
  }
}
