{
  "className": "org.joget.apps.form.lib.IdGeneratorField",
  "properties": {
    "id": "{{ id }}",
    "label": "{{ label }}",
    "value": "{{ defaultValue|default('') }}",
    "readonly": "true",
    "format": "{{ format }}",
    "prefix": "{{ prefix }}",
    "postfix": "{{ postfix }}",
    "environmentVariable": ""
  }
}
