{
  "className": "org.joget.plugin.enterprise.MultiPagedForm",
  "properties": {
    "id": "{{ id }}",
    "label": "{{ label }}",
    "prevButtonlabel": "{{ prevButtonLabel }}",
    "nextButtonlabel": "{{ nextButtonLabel }}",
    "css": "{{ css }}",
    "displayMode": "{{ displayMode }}",
    "ajaxMode": "{{ ajaxMode }}",
    "partiallyStore": "{{ partiallyStore }}",
    "storeMainFormOnPartiallyStore": "{{ storeMainFormOnPartiallyStore }}",
    "onlyAllowSubmitOnLastPage": "{{ onlyAllowSubmitOnLastPage }}",
    "numberOfPage": {
      "className": "{{ num_pages }}",
      "properties": {{ page_properties | tojson_pretty }}
    }
  }
}
