{
  "className": "org.joget.plugin.enterprise.PageFormElement",
  "properties": {
    "id": "{{ id }}",
    "label": "{{ label }}",
    "pages": {{ pages | tojson_pretty }},
    "showNavigation": "{{ showNavigation }}",
    "showProgressBar": "{{ showProgressBar }}",
    "readonly": "{{ readonly }}"
  }
}
