{
  "className": "org.joget.apps.form.lib.PasswordField",
  "properties": {
    "id": "{{ id }}",
    "label": "{{ label }}",
    "required": "{{ required }}",
    "readonly": "{{ readonly }}",
    "size": "{{ size }}",
    {% if maxlength %}
    "maxlength": "{{ maxlength }}",
    {% endif %}
    {% if placeholder %}
    "placeholder": "{{ placeholder }}",
    {% endif %}
    {% if validator %}
    "validator": {{ validator | tojson_pretty }},
    {% endif %}
    "encryption": "true"
  }
}
