{
  "className": "org.joget.apps.form.lib.Radio",
  "properties": {
    "fullWidth": "",
    "readonly": "{{ readonly }}",
    "label": "{{ label }}",
    "readonlyLabel": "",
    "id": "{{ id }}",
    {% if options %}
    "options": {{ options | tojson_pretty }},
    {% else %}
    "options": [],
    {% endif %}
    "optionsBinder": {{ options_binder | tojson_pretty }},
    "value": "{{ value }}",
    {% if validator %}
    "validator": {{ validator | tojson_pretty }},
    {% else %}
    "validator": {
      "className": "",
      "properties": {}
    },
    {% endif %}
    "controlField": "",
    "workflowVariable": ""
  }
}
