{
  "className": "org.joget.plugin.enterprise.RichTextEditor",
  "properties": {
    "id": "{{ id }}",
    "label": "{{ label }}",
    "editor": "{{ editor }}",
    "value": "{{ value }}",
    "rows": "{{ rows }}",
    "placeholder": "{{ placeholder }}",
    "required": "{{ required }}",
    "readonly": "{{ readonly }}"
  }
}
