{
  "className": "org.joget.apps.form.lib.SelectBox",
  "properties": {
    "id": "{{ id }}",
    "label": "{{ label }}",
    "required": "{{ required }}",
    "readonly": "{{ readonly }}",
    "multiple": "{{ multiple }}",
    "size": "{{ size }}",
    "optionsBinder": {{ options_binder | tojson_pretty }}
  }
}
