{
  "className": "org.joget.apps.form.lib.SubForm",
  "properties": {
    "id": "{{ id }}",
    "label": "{{ label }}",
    "formDefId": "{{ formDefId }}",
    "readonly": "{{ readonly }}",
    "readonlyLabel": "{{ readonlyLabel }}",
    "addButtonLabel": "{{ addButtonLabel }}",
    "deleteButtonLabel": "{{ deleteButtonLabel }}",
    "noAddButton": "{{ noAddButton }}",
    "noDeleteButton": "{{ noDeleteButton }}",
    "validator": {{ validator|tojson }},
    "workflowVariable": "{{ workflowVariable }}"
  }
}
