{
  "className": "org.joget.apps.form.lib.TextField",
  "properties": {
    "id": "{{ id }}",
    "label": "{{ label }}",
    "value": "{{ value }}",
    "readonly": "{{ readonly }}",
    "placeholder": "{{ placeholder }}",
    "maxlength": "{{ maxlength }}",
    "size": "",
    "style": "{{ style }}",
    "encryption": "",
    "readonlyLabel": "",
    "storeNumeric": "",
    "requiredSanitize": "",
    "workflowVariable": ""{% if validator %},
    "validator": {{ validator | tojson_pretty }}{% endif %}
  }
}
