{
  "className": "org.joget.apps.form.lib.TextArea",
  "properties": {
    "readonly": "{{ readonly }}",
    "label": "{{ label }}",
    "rows": "{{ rows }}",
    "cols": "{{ cols }}",
    "readonlyLabel": "",
    "id": "{{ id }}",
    "value": "{{ value }}",
    {% if validator %}
    "validator": {{ validator | tojson_pretty }},
    {% else %}
    "validator": {
      "className": "",
      "properties": {}
    },
    {% endif %}
    "placeholder": "{{ placeholder }}",
    "encryption": "",
    "workflowVariable": ""
  }
}
